.dash {
    padding: 10vh 12vh;
}

.but2 {
    align-items: right;
    justify-content: right;
    text-align: center;
    width: 60vh;
    cursor: pointer;
    color: white;
    background-color: #000;
    height: 8vh;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
    /* bottom: 40vh; */
}

.new-class {
    position: relative;
    left: 20rem;
}

.info-container {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 17.5vh;
}

.profile2 {
    position: relative;
    bottom: 27vh;
}


.profile-container1 {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
    bottom: 40vh;
}

.profile3 {
    position: relative;
    bottom: 40vh;
}

#success-message {
    position: relative;
    bottom: 40vh;
}

.profile {
    /* position: relative; */
    margin-right: 10px;
    margin-top: -5vh;
}

.light-font {
    font-weight: lighter;
}

.dark-font {
    font-weight: bold;
}

.profile4 {
    position: relative;
    bottom: 40vh;
    display: flex;
    flex-direction: row;
}

.profile5 {
    position: relative;
    bottom: 40vh;
    display: flex;
    flex-direction: row;
}

.profile4 img {
    position: relative;
    left: 58vh;
}

.profile3 {
    display: flex;
    flex-direction: row;
}

#password-field {
    padding-left: 4vh;
}



.edit1 {
    position: relative;
    left: 52vh;
    text-decoration: underline;
    text-align: right;
}

.edit2 {
    position: relative;
    left: 42vh;
    text-decoration: underline;
    text-align: right;
}

.edit4 {
    position: relative;
    left: 54vh;
    text-decoration: underline;
    text-align: right;

}

.edit5 {
    position: relative;
    left: 39vh;
    text-decoration: underline;
    text-align: right;
}

.pass-h3 {
    position: relative;
    left: 1vh;
}